<h1>
  Вход
</h1>

<% flash.each do |_, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= form_for @user, url: auth_index_url, remote: true do |f| %>
  <div class="field">
    <%= f.label 'Email'%>
    <%= f.text_field :email, type: :email%>
  </div>
  <div class="field">
    <%= f.label 'Пароль' %>
    <%= f.text_field :password, type: :password %>
  </div>
  <div class="field">
    <%= f.submit 'Войти' %>
  </div>
<% end %>