<%= link_to 'Отмена', user_books_url(@current_user) %>

<%= form_for @book, url: { :controller => "books", :action => "create" } do |f| %>
  <div>
    <%= f.label 'Название' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label 'Автор' %>
    <%= f.text_field :author %>
  </div>
  <div>
    <%= f.label 'Дата начала чтения' %>
    <%= f.date_field :started %>
  </div>
  <%= f.submit 'Добавить книгу' %>
<% end %>
